// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$width: 800px
$height: 600px

body
  background: dimgray
  overflow: hidden

#game
  width: $width
  height: $height
  background: black
  border: 5px solid salmon
  margin: 25px auto

#fps
  position: fixed
  top: 30px
  right: 30px
  width: 6em
  font-size: 1.2em
  font-family: monospace
  text-align: right
  color: white
